<a href="https://colab.research.google.com/github/clarissa-souza/Projeto-Extensao-Airflow/blob/main/Extensao_airflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Bibliotecas
import pandas as pd
import zipfile
import requests
import os

In [2]:
# Download do arquivo
os.makedirs ('dadosOriginais',exist_ok = True)
url='https://download.inep.gov.br/microdados/microdados_censo_da_educacao_superior_2018.zip'
response = requests.get(url, verify=False).content
open('dadosOriginais/microdados_censo_da_educacao_superior_2018.zip','wb').write(response)

/usr/local/lib/python3.7/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

13216969

In [3]:
#Ver os arquivos dentro do zip
with zipfile.ZipFile ('dadosOriginais/microdados_censo_da_educacao_superior_2018.zip') as z:
  print(*z.namelist(), sep='\n')

Microdados do Censo da Educaç╞o Superior 2018/
Microdados do Censo da Educaç╞o Superior 2018/Anexos/
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO I - Dicionário de Dados/
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO I - Dicionário de Dados/dicionário_dados_educaç╞o_superior.xlsx
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO I - Dicionário de Dados/~$Dicionário de Dados da Educaç╞o Básica.xlsx
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO I - Dicionário de Dados/~$dicionário_dados_educaç╞o_superior.xlsx
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO I - Dicionário de Dados/~$dicionário_dados_educaç╞o_superior_V1_clodoaldo.xlsx
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO II -  Questionários do Censo da Educaç╞o Basica/
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO II -  Questionários do Censo da Educaç╞o Basica/ANEXO II - MαDULO ALUNO 2018.pdf
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO II -  Questionários do Censo da Educaç╞o Basica/ANEXO II - MαDULO CURSO 2018.pdf
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO II -  Questionários do Censo da Educaç╞o Basica/ANEXO II - MαDULO DOCENTE 2018.pdf
Microdados do Censo da Educaç╞o Superior 2018/Anexos/ANEXO II -  Questionários do Censo da Educaç╞o Basica/ANEXO II - MαDULO IES 2018.pdf
Microdados do Censo da Educaç╞o Superior 2018/dados/
Microdados do Censo da Educaç╞o Superior 2018/dados/md5_microdados_ed_superior_2018.txt
Microdados do Censo da Educaç╞o Superior 2018/dados/MICRODADOS_CADASTRO_CURSOS_2018.CSV
Microdados do Censo da Educaç╞o Superior 2018/dados/MICRODADOS_CADASTRO_IES_2018.CSV
Microdados do Censo da Educaç╞o Superior 2018/leia-me/
Microdados do Censo da Educaç╞o Superior 2018/leia-me/Leia_me.pdf
Microdados do Censo da Educaç╞o Superior 2018/leia-me/Nota informativa.pdf
Microdados do Censo da Educaç╞o Superior 2018/leia-me/~$eia_me.doc

In [4]:
#ver as colunas dentro do arquivo csv que eu quero
with zipfile.ZipFile ('dadosOriginais/microdados_censo_da_educacao_superior_2018.zip') as z:
  with z.open('Microdados do Censo da Educaç╞o Superior 2018/dados/MICRODADOS_CADASTRO_CURSOS_2018.CSV') as f:
    df=pd.read_csv(f, encoding='ISO-8859-1',sep=';', nrows=0)

In [5]:
df

Empty DataFrame
Columns: [NU_ANO_CENSO, NO_REGIAO, CO_REGIAO, NO_UF, SG_UF, CO_UF, NO_MUNICIPIO, CO_MUNICIPIO, IN_CAPITAL, TP_DIMENSAO, TP_ORGANIZACAO_ACADEMICA, TP_CATEGORIA_ADMINISTRATIVA, TP_REDE, CO_IES, NO_CURSO, CO_CURSO, NO_CINE_ROTULO, CO_CINE_ROTULO, CO_CINE_AREA_GERAL, NO_CINE_AREA_GERAL, CO_CINE_AREA_ESPECIFICA, NO_CINE_AREA_ESPECIFICA, CO_CINE_AREA_DETALHADA, NO_CINE_AREA_DETALHADA, TP_GRAU_ACADEMICO, IN_GRATUITO, TP_MODALIDADE_ENSINO, TP_NIVEL_ACADEMICO, QT_CURSO, QT_VG_TOTAL, QT_VG_TOTAL_DIURNO, QT_VG_TOTAL_NOTURNO, QT_VG_TOTAL_EAD, QT_VG_NOVA, QT_VG_PROC_SELETIVO, QT_VG_REMANESC, QT_VG_PROG_ESPECIAL, QT_INSCRITO_TOTAL, QT_INSCRITO_TOTAL_DIURNO, QT_INSCRITO_TOTAL_NOTURNO, QT_INSCRITO_TOTAL_EAD, QT_INSC_VG_NOVA, QT_INSC_PROC_SELETIVO, QT_INSC_VG_REMANESC, QT_INSC_VG_PROG_ESPECIAL, QT_ING, QT_ING_FEM, QT_ING_MASC, QT_ING_DIURNO, QT_ING_NOTURNO, QT_ING_VG_NOVA, QT_ING_VESTIBULAR, QT_ING_ENEM, QT_ING_AVALIACAO_SERIADA, QT_ING_SELECAO_SIMPLIFICA, QT_ING_EGR, QT_ING_OUTRO_TIPO_SELECAO, QT_ING_PROC_SELETIVO, QT_ING_VG_REMANESC, QT_ING_VG_PROG_ESPECIAL, QT_ING_OUTRA_FORMA, QT_ING_0_17, QT_ING_18_24, QT_ING_25_29, QT_ING_30_34, QT_ING_35_39, QT_ING_40_49, QT_ING_50_59, QT_ING_60_MAIS, QT_ING_BRANCA, QT_ING_PRETA, QT_ING_PARDA, QT_ING_AMARELA, QT_ING_INDIGENA, QT_ING_CORND, QT_MAT, QT_MAT_FEM, QT_MAT_MASC, QT_MAT_DIURNO, QT_MAT_NOTURNO, QT_MAT_0_17, QT_MAT_18_24, QT_MAT_25_29, QT_MAT_30_34, QT_MAT_35_39, QT_MAT_40_49, QT_MAT_50_59, QT_MAT_60_MAIS, QT_MAT_BRANCA, QT_MAT_PRETA, QT_MAT_PARDA, QT_MAT_AMARELA, QT_MAT_INDIGENA, QT_MAT_CORND, QT_CONC, QT_CONC_FEM, QT_CONC_MASC, QT_CONC_DIURNO, QT_CONC_NOTURNO, QT_CONC_0_17, ...]
Index: []

[0 rows x 200 columns]

In [6]:
columns = ['NU_ANO_CENSO','NO_REGIAO','SG_UF','TP_GRAU_ACADEMICO','QT_VG_TOTAL','QT_INSCRITO_TOTAL']
with zipfile.ZipFile ('dadosOriginais/microdados_censo_da_educacao_superior_2018.zip') as z:
  with z.open('Microdados do Censo da Educaç╞o Superior 2018/dados/MICRODADOS_CADASTRO_CURSOS_2018.CSV') as f:
    df=pd.read_csv(f,encoding='ISO-8859-1',sep=';', usecols=columns)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df

,NU_ANO_CENSO,NO_REGIAO,SG_UF,TP_GRAU_ACADEMICO,QT_VG_TOTAL,QT_INSCRITO_TOTAL
0,2018,Norte,RO,1.0,70.0,40.0
1,2018,Norte,RO,2.0,50.0,114.0
2,2018,Norte,RO,1.0,100.0,55.0
3,2018,Norte,RO,1.0,100.0,40.0
4,2018,Norte,RO,1.0,100.0,100.0
...,...,...,...,...,...,...
182887,2018,NaN,NaN,1.0,NaN,NaN
182888,2018,NaN,NaN,2.0,NaN,NaN
182889,2018,NaN,NaN,1.0,NaN,NaN
182890,2018,NaN,NaN,3.0,NaN,NaN
182891,2018,NaN,NaN,3.0,NaN,NaN